#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.custom-modal-body {
  background-color: #0D333E;
}

.employeeDetContainer{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.imageContainer {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circleImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

table {
  border:0px;
  padding: 20px;
}

tr {
  display: flex;
}

td {
  margin-right: 30px;
}

.modal {
  width: 40%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal button:hover {
  background-color: #0056b3;
}